/*========================================================
TOP
=========================================================*/

#top ul {
  padding-top: 8px;
}

#top ul li {
  display: inline;
  line-height: 30px;
  margin: 0px 5px;
  color: white;
}

/* Clase social maneja el tamaño y la separación de los logos*/
.social ul li a i {
  font-size: 18px;
  margin: 0 1px;
}

/* Clase registro maneja el tamaño y la separación del registro*/
.registro ul {
  text-align: right;
  font-size: 12px;
}

/*========================================================
HEADER
=========================================================*/
